<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="/">
                <strong>BookWithMe</strong>
        </a>
        <ul class="navbar-nav md-5">
          <li class="nav-item">
            <a class="nav-link navbar active" href="host-login">Host Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar active" href="user-login">User Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar active" href="become-registered-user">Become Registered User</a>
          </li>
          <li class="nav-item">
                <a class="nav-link navbar active" href="#">Help</a>
              </li>
        </ul>
      
      </nav>
      <div class="jumbotron" align="center">
          <h1 class="display-4">Hello, Guest!</h1>
          <p class="lead">You are just a click away from registering yourself.</p>
          <hr class="my-4">
          <p>Register here. There is a one time $150 fee for registering as our certified host.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div>
        <div class="d-flex justify-content-center row-hl mt-5" align="center">
            <div class="p-4 item-hl">
                <p class="display-5">
                  
                <p class="text-center text-success display-5">
                  <strong>Register Here. We only accept Credit Card Payments. </strong>
                </p>
                </p>
                <p class="text-center font-weight-bold"> </p>
                <div>
                        <form action="/registerhost" method="POST">

                          <div class="form-group">
                              <label for="uniqueUsername">Userame</label>
                              <input type="text" class="form-control" id="unique_user_name" placeholder="Enter Name" name="unique_user_name">
                            </div>
                            <% if(duplicateMessage === true) { %>
                              <div align="center">
                                <p class="text-danger">
                                  <strong>This UserName is already taken by somebody else.</strong>
                                  <br>
                                  <strong>Payment and Registration Unsuccessfull</strong>
                                </p>
                              </div>
                              <% } %>

                            <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
                                  </div>

                                <div class="form-group">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Password</label>
                                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                                </div>
                                      
                                <div class="form-group">
                                        <label for="exampleInputPassword1">Contact No.</label>
                                        <input type="number" class="form-control" id="C-no" placeholder="Enter valid phone number" name="contactNo">
                                </div>

                                <div class="form-group">
                                    <label for="name">Tell me something about yourself</label>
                                    <input type="text" class="form-control" id="name" name="something_about_me" aria-describedby="emailHelp" placeholder="Describe yourself, your profession and more...">
                                    <small id="emailHelp" class="form-text text-muted">This helps users who book this property to know you much better</small>
                                  </div>

                                  
                                    <script
                                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                  data-key= "pk_test_lTBbKqJaAHjYeHSiPApsthZ4002LwGrb9h"
                                  data-amount="150000"
                                  data-name="Host Registration Payment"
                                  data-description="We charge a one time fee of 75$ "
                                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                  data-locale="auto">
                                </script>
                              
                                  
                               <!--  <button type="submit" class="btn btn-primary">Submit</button> -->
                              </form>
                </div>
                
            </div>
            
            <form action="your-server-side-code" method="POST">
             
            </form>

        </div>

        
    </div>
</body>
</html>