<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light mb-5" id="main-nav">
          <div class="container">
            <a class="navbar-brand font-weight-bold" href="/">BookWithMe</a>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#welcome">Welcome</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#t&c">Terms & Conditions</a>
              </li class="nav-item">
            </ul>
          </div>
        </nav>

        <div class="d-flex justify-content-center row-hl mt-5" align="center">
            <div class="p-4 item-hl">
                <p class="display-5"> You are just a click away from registering yourself</p>
                <p class="text-center font-weight-bold"> Register here. There is a one time ₹1500 fee for registering as our certified host</p>
                <div>
                        <form action="/registerhost" method="POST">

                          <div class="form-group">
                              <label for="uniqueUsername">Userame</label>
                              <input type="text" class="form-control" id="unique_user_name" placeholder="Enter Name" name="unique_user_name">
                            </div>


                            <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
                                  </div>

                                <div class="form-group">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Password</label>
                                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                                </div>
                                      
                                <div class="form-group">
                                        <label for="exampleInputPassword1">Contact No.</label>
                                        <input type="number" class="form-control" id="C-no" placeholder="Enter valid phone number" name="contactNo">
                                </div>

                                <div class="form-group">
                                    <label for="name">Tell me something about yourself</label>
                                    <input type="text" class="form-control" id="name" name="something_about_me" aria-describedby="emailHelp" placeholder="Describe yourself, your profession and more...">
                                    <small id="emailHelp" class="form-text text-muted">This helps users who book this property to know you much better</small>
                                  </div>

                                  
                                    <script
                                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                  data-key= "pk_test_lTBbKqJaAHjYeHSiPApsthZ4002LwGrb9h"
                                  data-amount="7500"
                                  data-name="Host Registration Payment"
                                  data-description="We charge a one time fee of 75$ "
                                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                  data-locale="auto">
                                </script>
                              
                                  
                               <!--  <button type="submit" class="btn btn-primary">Submit</button> -->
                              </form>
                </div>
                
            </div>
            
            <form action="your-server-side-code" method="POST">
             
            </form>

        </div>

        <section id="welcome" class="mt-5">
            <h3 class="display-4">Welcome</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, reiciendis ullam sit libero recusandae obcaecati modi,
              iusto facere, distinctio corporis in officiis quidem vel veniam eum fugit quibusdam. Repellat quod explicabo repudiandae,
              tenetur hic fugiat nostrum aperiam corrupti necessitatibus nulla! Nemo aperiam officiis velit nihil maiores provident
              animi veniam error deserunt explicabo nobis et optio, labore commodi repudiandae soluta ratione numquam porro architecto
              vel magnam libero quod aliquid? Incidunt nesciunt praesentium rem voluptatibus magni sed nihil minima nulla libero
              impedit dolores velit, esse labore quasi! Tenetur atque autem natus nulla nisi nihil quisquam mollitia voluptas est
              dolores aspernatur necessitatibus nesciunt cumque illo ratione, quam magnam. Eum dolorem saepe alias provident deserunt
              doloribus iusto laudantium natus illo sint, nam, amet exercitationem architecto asperiores ea quis quos, id accusamus
              in! Sapiente mollitia quae incidunt laboriosam animi. Tenetur, maxime molestias sequi, vero eum voluptate quod commodi,
              dolorem ipsum minima ipsam quasi debitis non eos labore similique tempora! Nisi eius inventore magnam. Fuga placeat,
              modi, eius officiis, nostrum dolore nisi doloremque tenetur repellat sit nesciunt iusto earum corrupti ipsam optio
              eveniet. Quibusdam, ipsum. Maiores praesentium quasi quibusdam temporibus nostrum, est culpa nisi similique doloremque
              atque. Quaerat quidem tempora magni culpa quas explicabo natus vitae dignissimos, temporibus debitis at perspiciatis
              doloremque quibusdam eos ratione architecto sit nihil recusandae. Ex, eveniet cum. At autem, soluta sunt praesentium
              nulla molestiae labore iure officiis? Voluptas assumenda ab odio harum, doloribus delectus ad a adipisci nulla exercitationem
              alias provident iure minus magni rem earum eaque laudantium? Assumenda, est culpa? Quibusdam, recusandae voluptatum
              quaerat modi, illum dolore, unde ea eius harum nostrum nesciunt quos quis! Dolorum ullam accusantium est, neque ducimus
              dolorem unde laborum provident, odit eaque porro voluptate! Culpa, qui, sequi at tempore nemo tempora odio rerum
              nostrum alias optio repellat similique facere et, voluptates necessitatibus laudantium id quam placeat! Repellendus
              at maxime sit ut, quos quod ab sint vel ipsam eos mollitia similique fugit asperiores quas, labore sequi velit quidem
              consectetur, nisi itaque quis laudantium. Dicta, placeat totam accusantium sapiente quos recusandae consectetur doloribus
              asperiores eius deserunt dolor, reprehenderit quia saepe commodi eveniet possimus animi voluptate accusamus fugiat
              necessitatibus quae? Deserunt corrupti pariatur repellendus perferendis minus consequuntur nemo, facilis optio possimus
              culpa doloribus atque molestiae, ab expedita magni aliquam vero maxime dolore voluptatem eum omnis. Reprehenderit
              fugiat deserunt velit aliquid reiciendis magni possimus illum amet optio aut eum ea sapiente similique ad iure dolorum
              ut, quidem cum architecto.</p>
          </section>

          
    <section id="about">
        <h3  class="display-4">About</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nesciunt nemo iure at, ab cupiditate consequuntur nobis hic
        odit, animi, quos ipsum tempore consectetur vel molestias quasi a ea dolore harum aut eligendi repellat? Harum aperiam
        aspernatur, debitis quia quos vel cumque perspiciatis enim eaque sequi beatae id in repellendus tempore quaerat error
        voluptatibus molestiae quam asperiores sit incidunt molestias. Repellendus dolorem inventore voluptates qui sit possimus
        cumque reprehenderit aliquam enim, laboriosam neque aliquid quas. Reprehenderit, eaque beatae architecto tempore provident
        nostrum? Harum nemo, repellendus maiores reiciendis rerum, vero, nobis molestias natus temporibus pariatur consectetur
        veniam aut similique optio explicabo in repellat assumenda non nulla. Aspernatur, ab? Beatae error optio iste inventore
        qui, iure vel laborum doloremque provident praesentium incidunt, soluta, accusamus corrupti. Eligendi a amet laboriosam.
        Dolore tempore nostrum exercitationem praesentium aperiam atque maiores numquam excepturi voluptate labore eligendi
        nobis veritatis, accusamus harum animi ut, nisi ad cupiditate tempora sapiente, ex magni. Quod amet sed cum porro tempora,
        incidunt impedit possimus, ratione explicabo saepe rem numquam eum voluptatem voluptatibus harum, voluptate facilis
        aut est inventore provident minima tempore corporis maiores! Tempora dolorum quas deleniti quo nisi ratione veniam
        ullam quia itaque quos? Consequatur enim doloremque nemo nesciunt similique voluptate facere dolores laborum tempora
        eligendi pariatur dolor maxime et optio necessitatibus mollitia quo esse, porro minus odio cum suscipit ut recusandae
        magnam? Nam nobis alias dolore, eos laudantium libero debitis beatae, dolor nulla reprehenderit nostrum nisi a aspernatur
        rem id saepe ut magnam doloremque sapiente? Ducimus fugit ut provident tempore dolore at, quo eligendi non error facere
        odit, quasi blanditiis delectus vero temporibus, placeat cupiditate reprehenderit quidem deserunt saepe. Recusandae
        aliquid, odio id atque reiciendis, quod autem culpa aspernatur nobis aut at error. Commodi, est dicta impedit distinctio
        quasi autem culpa repudiandae perspiciatis enim, porro magni libero ipsa maxime quam consequatur voluptatum, quas laboriosam
        dolores sequi sint quos! Unde id, excepturi explicabo nam ex magni possimus molestiae temporibus voluptas esse cumque!
        Eius, ea neque? Alias nisi ratione dolorum sit sunt deserunt minima dolor soluta aperiam! Ea natus voluptatum saepe,
        tempora nobis, sunt voluptates deserunt magni fugit provident delectus sint nesciunt itaque nam blanditiis expedita,
        iusto in quam quaerat fugiat dolorem. Animi obcaecati deleniti dolore veniam, omnis nesciunt? Non est sunt nisi doloribus!
        Sequi amet corrupti voluptatem itaque quia doloremque sit illum doloribus modi iusto cupiditate eum nostrum repellendus
        molestiae, qui molestias facilis excepturi eaque voluptatum ex. Reprehenderit sint veritatis reiciendis possimus totam
        cum beatae voluptate, voluptas officiis alias error, ipsa nostrum esse eos perferendis libero. Porro corporis, omnis
        voluptates cupiditate laborum, soluta voluptatibus incidunt quae esse atque itaque ab? In laborum totam ex architecto
        numquam tenetur dolorum quam quo repudiandae corrupti unde quis voluptas voluptate velit aperiam sit, delectus et,
        minima, quibusdam recusandae quos incidunt rem! Odit dignissimos, nam minus numquam ducimus consectetur placeat rerum!
        Porro sunt quam autem nostrum dolorem illum reiciendis nulla commodi recusandae, doloribus molestias, ipsum fugit neque
        consequuntur, consectetur odit dolores aliquam minima ab voluptatum quisquam harum id. Dicta asperiores tempora atque.
        Ratione perferendis commodi ullam!
      </section>
      <section id="t&c">
            <h3  class="display-4">Terms & Conditions</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nesciunt nemo iure at, ab cupiditate consequuntur nobis hic
            odit, animi, quos ipsum tempore consectetur vel molestias quasi a ea dolore harum aut eligendi repellat? Harum aperiam
            aspernatur, debitis quia quos vel cumque perspiciatis enim eaque sequi beatae id in repellendus tempore quaerat error
            voluptatibus molestiae quam asperiores sit incidunt molestias. Repellendus dolorem inventore voluptates qui sit possimus
            cumque reprehenderit aliquam enim, laboriosam neque aliquid quas. Reprehenderit, eaque beatae architecto tempore provident
            nostrum? Harum nemo, repellendus maiores reiciendis rerum, vero, nobis molestias natus temporibus pariatur consectetur
            veniam aut similique optio explicabo in repellat assumenda non nulla. Aspernatur, ab? Beatae error optio iste inventore
            qui, iure vel laborum doloremque provident praesentium incidunt, soluta, accusamus corrupti. Eligendi a amet laboriosam.
            Dolore tempore nostrum exercitationem praesentium aperiam atque maiores numquam excepturi voluptate labore eligendi
            nobis veritatis, accusamus harum animi ut, nisi ad cupiditate tempora sapiente, ex magni. Quod amet sed cum porro tempora,
            incidunt impedit possimus, ratione explicabo saepe rem numquam eum voluptatem voluptatibus harum, voluptate facilis
            aut est inventore provident minima tempore corporis maiores! Tempora dolorum quas deleniti quo nisi ratione veniam
            ullam quia itaque quos? Consequatur enim doloremque nemo nesciunt similique voluptate facere dolores laborum tempora
            eligendi pariatur dolor maxime et optio necessitatibus mollitia quo esse, porro minus odio cum suscipit ut recusandae
            magnam? Nam nobis alias dolore, eos laudantium libero debitis beatae, dolor nulla reprehenderit nostrum nisi a aspernatur
            rem id saepe ut magnam doloremque sapiente? Ducimus fugit ut provident tempore dolore at, quo eligendi non error facere
            odit, quasi blanditiis delectus vero temporibus, placeat cupiditate reprehenderit quidem deserunt saepe. Recusandae
            aliquid, odio id atque reiciendis, quod autem culpa aspernatur nobis aut at error. Commodi, est dicta impedit distinctio
            quasi autem culpa repudiandae perspiciatis enim, porro magni libero ipsa maxime quam consequatur voluptatum, quas laboriosam
            dolores sequi sint quos! Unde id, excepturi explicabo nam ex magni possimus molestiae temporibus voluptas esse cumque!
            Eius, ea neque? Alias nisi ratione dolorum sit sunt deserunt minima dolor soluta aperiam! Ea natus voluptatum saepe,
            tempora nobis, sunt voluptates deserunt magni fugit provident delectus sint nesciunt itaque nam blanditiis expedita,
            iusto in quam quaerat fugiat dolorem. Animi obcaecati deleniti dolore veniam, omnis nesciunt? Non est sunt nisi doloribus!
            Sequi amet corrupti voluptatem itaque quia doloremque sit illum doloribus modi iusto cupiditate eum nostrum repellendus
            molestiae, qui molestias facilis excepturi eaque voluptatum ex. Reprehenderit sint veritatis reiciendis possimus totam
            cum beatae voluptate, voluptas officiis alias error, ipsa nostrum esse eos perferendis libero. Porro corporis, omnis
            voluptates cupiditate laborum, soluta voluptatibus incidunt quae esse atque itaque ab? In laborum totam ex architecto
            numquam tenetur dolorum quam quo repudiandae corrupti unde quis voluptas voluptate velit aperiam sit, delectus et,
            minima, quibusdam recusandae quos incidunt rem! Odit dignissimos, nam minus numquam ducimus consectetur placeat rerum!
            Porro sunt quam autem nostrum dolorem illum reiciendis nulla commodi recusandae, doloribus molestias, ipsum fugit neque
            consequuntur, consectetur odit dolores aliquam minima ab voluptatum quisquam harum id. Dicta asperiores tempora atque.
            Ratione perferendis commodi ullam!
          </section>
    </div>
</body>
</html>