<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>

        <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <a class="navbar-brand" href="/">
                        <strong>BookWithMe</strong>
                </a>
                <ul class="navbar-nav md-5">
                  <li class="nav-item">
                    <a class="nav-link navbar active" href="become-registered-user">User Signup</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navbar active" href="user-login">User Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navbar active" href="become-certified-host">Become cerified Host</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link navbar active" href="#">Help</a>
                      </li>
                </ul>
              
              </nav>


              <div class="jumbotron" align="center">
                  <h1 class="display-4">Hello, Guest!</h1>
                  <p class="lead"></p>
                  <hr class="my-4">
                  <p>Sign-in with BookWithMe to start renting your property on your convenience, Maintain existing properties and Accessing details about your current property on rent</p>
                  <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more about Registered hosts </a>
                  </p>
                </div>

    


   <br>
   
    <div class="container" align="center">
        <%if (message) { %>
          <div class="alert alert-danger" role="alert">
              Invalid Credentials. Please enter your Credentials again
            </div>
            <% } %>
        <form class="form-signin" action="host-auth" method="POST">
            <div class="text-center mb-4 container" align="center">
              <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
              <h1 class="h3 mb-3 font-weight-normal">Host Login</h1>
              <p>Keep properties on rent by Logging in First. <a href="become-certified-host">If you are not Registered Host, Click here to become one.</a></p>
            </div>
      
            <div class="form-label-group container" align="center">
              <input type="text" id="inputEmail" class="form-control" placeholder="Enter Username" required autofocus name="user_name">
              <label for="inputEmail">Username</label>
            </div>
      
            <div class="form-label-group container" align='center'>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="user_password">
              <label for="inputPassword">Password</label>
            </div>
      
          
            </div>
            <div class="container" align="center">
                <button class="btn btn-primary" type="submit" align="center">Log in</button>
            </div>
            <br>
            <br>

            
          </form>
    </div>
    
  
</html>