<!DOCTYPE html>
<html lang="en">
<head>
        <!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="/">BookWithMe</a>
                    <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link" href="manage-credentials">Manage your Credentials
                                <span class="sr-only">(current)</span>
                              </a>
                            </li>
  
                            <li class="nav-item active">
                                  <a class="nav-link" href="view/bookings">View your bookings
                                    <span class="sr-only">(current)</span>
                                  </a>
                          </li>
  
                          <li class="nav-item active">
                            <a class="nav-link" href="/cancel-booking">Cancel Booking
                              <span class="sr-only">(current)</span>
                            </a>
                    </li>
  
                   
                            
                          </ul>
                </div>
            </nav>
            

            


        <div class="jumbotron">
                <h1 class="display-3">Hello, <%= userName%> !!</h1>
                <br>
                <p class="lead display-4">Start booking properties with us. </p>
                <hr class="my-4">
                <p>Book properties according to availibility and also view properties and check it's availability. Explore rental availibility and much more....   </p>
                <p class="lead">
                  <br>
                  <p class= 'display-4'>
                    Explore all the properties by location
                  </p>
                  <br>
                  <br>

                  <div class='container'>
                      <form action="/explore-properties-by-city" method="POST">
                          <div class="form-group">
                            <label for="exampleInputEmail1" align='center'>City</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the name of City" name='city'>
                            <small id="emailHelp" class="form-text text-muted"></small>
                          </div>

                          <div class="form-group">
                              <label for="exampleInputEmail1" align='center'>State</label>
                              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the name of State" name='state'>
                              <small id="emailHelp" class="form-text text-muted"></small>
                            </div>
                            <br>
                            <div align='center'>
                                <button type="submit" class="btn btn-success">View all properties</button>
                            </div>
                            
                        </form>
  
                  </div>
                  
                    
                 
              </div>
              <br>
              <br>
              <div class='container' align='center'>
                <div class="container">
                  <p class="jumbotron display-5 h3" align="center">
                    Explore properties by Check-in and Check-out date and Location
                    <p class="lead">
                        Book and explore property by check-in, check-out date, accomodation per rental property and location
                      </p>
                  </p>
                  <br>
                  
                </div>
                    <form action="/search-properties" method="POST">
                            <div class="form-group">
                              <label for="exampleInputEmail1">City</label>
                              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter city name" name="city">
                              <small id="emailHelp" class="form-text text-muted">Enter the name of the city where you want to search rental</small>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputPassword1">Password</label>
                              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter the state" name="state">
                              <small id="emailHelp" class="form-text text-muted">Enter the name of the State where you want to search rental</small>
                            </div>
                           
                            

                            <br>
                            
                            <div class="row">
                                    <div class="col-sm">
                                      
                                          <div class="form-group">
                                                
                                                  <div class="form-group"> <!-- Date input -->
                                                    <label class="control-label" for="date">Check-in Information</label>
                                                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                                                    <small id="property_name_Help" class="form-text text-muted">Check in date for your rentals in the form yy-mm-dd</small>
                                                  </div>
                                                </div>
                              
                                    </div>
                                    <div class="col-sm">
                                          <div class="form-group">
                                                  <label for="name">Check-out Information</label>
                                                  <input class="form-control" id="date" name="date" placeholder="Enter the check-in date" type="text" name="chk_out_date"/>
                                                  <small id="property_name_Help" class="form-text text-muted">Check out date for your rentals in the form yy-mm-dd</small>
                                                </div>
                              
                                  </div>

                                  <div class="col-sm">
                                    <div class="form-group">
                                      <label for="name">Accomodation strength per rental</label>
                                      <input type="number" class="form-control" id="property_name" placehoder="accomodation strength" name="accomodation_strength">
                                      <small id="property_name_Help" class="form-text text-muted">Enter the accomodation strength i.e how many people can be accomodated in your rental property</small>
                                    </div>
                  
                                  </div>
                              </div>

                            
                            <button type="submit" class="btn btn-primary">Look for properties </button>
                          </form>
              </div>
              <br>
              <br>
              <br>

              <script>
                  $(document).ready(function(){
                    var date_input=$('input[name="date"]'); //our date input has the name "date"
                    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
                    var options={
                      format: 'yyyy-mm-dd',
                      container: container,
                      todayHighlight: true,
                      autoclose: true,
                      datesDisabled: []
                    };
                    date_input.datepicker(options);
                  })
              </script>

              <script>
              function checkDates() {
                
              }
              </script>
</body>
</html>