.view{
    background-image: url('/images/downtown.jpg');
    background-repeat: no-repeat ; 
    background-size: cover; 
    background-position: center center;    
}

.propertylist  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.propertylist > div {
    margin: 20px;
}