<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">BookWithMe</a>
        </div>
    </nav>
    <div align = "center" class="container mb-5">
        <p class="display-2"> Create your first Rental ..</p>
        <p class='display-4'> Your personalised tutorial on how to create rentals </p>
        <br>
        <br>
        
    </div>
</body>
</html>