<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <!-- This can also be made like a sidebar navigation just like mobile apps-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><strong>BookWithMe</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="#"> Manage your credentials <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="#">Create Rental</a>
                      </li>
                      <li class="nav-item active">
                            <a class="nav-link" href="#">Delete Rental</a>
                    </li>
                    <li class="nav-item active">
                            <a class="nav-link" href="#">Edit Rental</a>
                          </li>

                          
            </ul>
            </div>

            <div class="topnav-right">
                    <a href="#">Logout</a>
            </div>
    </nav>
    <br>
    <div class= "container">


    <!--
<%= name%>
    <br>
    <%=id%>
    <br>
    <div>
    <% for (let p of host_rentals) { %>
      <p>
          <%= p._id %>
        </p>
    </div>
    <% } %>
    -->
<p class='display-3'>
Your Properties
<br>
<br>
<div class="container">
    <% for (let p of host_rentals) { %>
    <div class="row">
      <div class="col-sm"> 
          <div class= "container">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://www.gstatic.com/webp/gallery/1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Details</a>
                
              </div>
            </div>
          </div>

      </div>
      <div class="col-sm"> google maps location of the property </div> 
    </div>
    <br>
    <br>
    <% } %>
      </div>

</body>
</html>
    